<div class="container">
  <div class="row mt-2">
    <div class="col">
      <b>Input components</b>
    </div>
  </div>
  <div class="row">
    <div class="col-4">
      <jb-input [value]=""
        [disabled]="false"
        [placeholder]="'Write here...'"
        [label]="'Simple Input'">
      </jb-input>
    </div>
    <div class="col-4">
      <jb-input-currency
        [disabled]="false"
        [placeholder]="'MXN$'"
        [label]="'Simple Currency Input'">
      </jb-input-currency>
    </div>
  </div>
</div>
